@{
    ViewData["Title"] = "Szyfrowanie";
}

<div class="card mt-5">
    <h2>Szyfr Cezara</h2>
    <p>Podaj tekst do zaszyfrowania:</p>
    <input type="text" id="ScreenInput" class="lamaczSzyfru-screen" disabled="disabled">
    <div class="lamaczSzyfru-buttons">
        <button type="button" class="btn bg-success button-migaj">Zaszyfruj</button>
    </div>
    <p id="zaszyfrowanyTekst"></p>
</div>