html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(45deg, #3498db, #2c3e50); /* gradientowe t³o */
    animation: backgroundPlyn 10s infinite alternate; /* animacja p³yniêcia t³a */
    margin-bottom: 60px;
}

@keyframes backgroundPlyn {
    0% {
        background-position: 0% 0%;
    }

    15% {
        background-position: 25% 25%;
    }
}
.card-container {
    display: flex;
    flex-direction: column; /* ustawienia aby karty by³y pod sob¹ */
    align-items: center; /* wyœrodkowanie kart w osi poziomej */
}

.card {
    width: 300px; 
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

}

.lamaczSzyfruCezara-screen {
    height: 50px;
    text-align: left;
    padding: 10px; /* Redukcja paddingu, aby tekst by³ bardziej skoncentrowany */
    font-size: 2rem; /* Redukcja rozmiaru czcionki dla lepszej czytelnoœci */
    color: #333; /* Ciemny kolor tekstu dla kontrastu */
    border: 2px solid #333; /* Dodanie jednolitej obwódki wokó³ pola tekstowego */
    width: 100%; /* Zmiana szerokoœci na 100%, aby zajmowa³o pe³n¹ szerokoœæ karty */
}
.szyfrowanieTekstuCezara-screen {
    height: 50px;
    text-align: left;
    padding: 10px; /* Redukcja paddingu, aby tekst by³ bardziej skoncentrowany */
    font-size: 2rem; /* Redukcja rozmiaru czcionki dla lepszej czytelnoœci */
    color: #333; /* Ciemny kolor tekstu dla kontrastu */
    border: 2px solid #333; /* Dodanie jednolitej obwódki wokó³ pola tekstowego */
    width: 100%; /* Zmiana szerokoœci na 100%, aby zajmowa³o pe³n¹ szerokoœæ karty */
}
.lamaczSzyfruVigenerea-screen {
    height: 50px;
    text-align: left;
    padding: 10px; /* Redukcja paddingu, aby tekst by³ bardziej skoncentrowany */
    font-size: 2rem; /* Redukcja rozmiaru czcionki dla lepszej czytelnoœci */
    color: #333; /* Ciemny kolor tekstu dla kontrastu */
    border: 2px solid #333; /* Dodanie jednolitej obwódki wokó³ pola tekstowego */
    width: 100%; /* Zmiana szerokoœci na 100%, aby zajmowa³o pe³n¹ szerokoœæ karty */
}

.szyfrowanieTekstuVigenerea-screen {
    height: 50px;
    text-align: left;
    padding: 10px; /* Redukcja paddingu, aby tekst by³ bardziej skoncentrowany */
    font-size: 2rem; /* Redukcja rozmiaru czcionki dla lepszej czytelnoœci */
    color: #333; /* Ciemny kolor tekstu dla kontrastu */
    border: 2px solid #333; /* Dodanie jednolitej obwódki wokó³ pola tekstowego */
    width: 100%; /* Zmiana szerokoœci na 100%, aby zajmowa³o pe³n¹ szerokoœæ karty */
}

button {
    height: 50px;
    font-size: 2rem;
    color: #fff;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h2 {
    margin-bottom: 10px;
}

.card + .card {
    margin-left: 20px; /* odstêp miêdzy kartami */
}


h2:nth-child(2) {
    margin-top: 40px; /* odstêp miêdzy nag³ówkiem a drug¹ kart¹ */
}

.szyfrowanieTekstu-buttons {
    margin-top: 10px; /* sodstêp miêdzy przyciskiem a poprzednim elementem */
}

.lamaczSzyfru-buttons {
    margin-top: 10px; 
}
